html, body {
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  color: #FFFFFF;
  /* Old browsers */
  /*background: -moz-linear-gradient(45deg, #f7f7f7 0%, #EAE0D5 100%);
  /* FF3.6-15 */
  /*background: -webkit-linear-gradient(45deg, #f7f7f7 0%, #EAE0D5 100%);
  /* Chrome10-25,Safari5.1-6 */
  /*background: linear-gradient(45deg, #f7f7f7 0%, #EAE0D5 100%);
   */

}
body{
    background-color: #232B2B ;
    margin: 0;
    display: grid;
    justify-content:
    align-items: left;

}
.img-circle {

    border-radius: 30%;
    border-color: #232B2B;
}

h2{
    position: relative;
    text-align: left;
    left:80px;
    top: 50px;
}
h3,h4{
    position: relative;
    //text-align: left;
    left:650px;
    top: -200px;
}

p{
    /*text-align: center;*/
    position: relative;
    left:-120px;
    top: 15px;
}
p1{
    /*text-align: center;*/
    position: relative;
    left:-60px;
    top: -5px;
}
